.main-nav-bar {
    background-image: linear-gradient(to right, #0E116F, #010129);
    height: 60px;
}

.link-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
    top: 10px;
    left: 60px;
}

.reask-logo {
    max-height: 40px;
}
