.top-options,
.right-buttons {
    display: flex;
    flex-direction: row;
}

.right-buttons {
    padding-left: 50%;
}

.variables-chart-div {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
