.main-location-div {
    width: 25%;
}

.location-search-bar {
    border-radius: 20px;
    height: 20px;
    width: 90%;
    padding-left: 10px;
}

.location-search-button {
    position: relative;
    right: 38px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
